.pricing.animated.swing
 .thumbnail.animated.pulse.infinite
  .fa.fa-paper-plane
 .title
  Paper Package
 .content
  .sub-title
   $69
   %i per year
  %ul
   %li
    .fa.fa-check
    Complete Access To All Themes
   %li
    .fa.fa-check
    Perpetual Theme Updates
   %li
    .fa.fa-check
    Premium Technical Support
   %li
    .fa.fa-close
    Complete Access To All Plugins
   %li
    .fa.fa-close
    Layered Photoshop Files
   %li
    .fa.fa-close
    No Yearly Fees
  %a{:href => "https://www.elegantthemes.com/cgi-bin/members/register.cgi?sub=16"}
   Sign Up
 .clickMe
  Click